page-starbucks {

	
	ion-content{
		background: #35ae9b !important;
	}

	h1{
		text-align: center;
	}
	div{
		text-align: center;

	}
	.menuback{
		
		border-style: solid;
		border-color: #113F3B;
		padding: 20px;
        margin: 20px;
	}


}
